!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body


  %div.body
    %div.body_left
      %h3 sample
      %p  Good bye world



    %div.body_right
      %ul 
        %li 
        
          %h6 seo
          