
    
.body
  .body-top
    登録完了しました。  
  .body-left
    .body-left-header
      .left-header_user-name
        seo
      .left-header_icon
        %i.fa.fa-edit
        %i.fa.fa-cog
    .body-left-group
      .left-group_name
        XYZ
      .left-group_text
        good by world

  .body-right
    .body-right-header
      .right-header_group-name
        sample
      .right-header_member-list
        Members: seo neko
      .right-header_edit
        Edit
    .body-right-main
    .body-right-footer
          