
    
.body

  .body-top
    登録完了しました。  


  .body-main
    .body-left
      .body-left--header
        .left-header--user-name
          %strong
            aaaaaa
        .left-header__icon
          = link_to '/new' ,class: "link" do
            %i.fa.fa-edit
          = link_to '/new' ,class: " link" do
            %i.fa.fa-cog
      .body-left--group
        .group
          .left-group--name
            XYZ
          .left-group--text
            まだメッセージはありません

    .body-right

      .body-right--header
        .crrent-group
          .header--group-name
            XYZa
          .header--member-list
            Members: seo neko
        .header__edit
          Edit

      .body-right--main
        .messege
          .upper-info
            %strong
              XYZ
          .upper-info__date
            1998/01/17
          .messege--text
            tttttttttttttt


      .body-right--footer
        
        %form{:action => "/", :method => "post" , class: "form"}
          %input{ name: "text" , placeholder: "type a messege" , type: "textarea" , class: "input_box"}
          -# %input{ name: "image" ,  type: "file", class: "fa fa-image" } 未解決
          %i.fa.fa-image
          
        .right-footer__submit
          %input{ name: "commit"  , type: "submit", class: "submit" , value: "Send"}
              

     
          